/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

div {
    text-align: center;
    padding: 20px;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

img {
    max-width: 60%;
    height: auto;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

br {
    display: none;
    /* Oculta as quebras de linha */
}
