body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.content-section {
    background: #fff;
    margin: 20px 0;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.content-section h2 {
    text-align: center;
    color: #4CAF50;
    margin: 0 0 20px 0;
    font-size: 2rem;
}

.intro-text, .history-text {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #333;
    text-align: justify;
    margin: 0 0 20px 0;
    padding: 0;
}

.intro-text::first-letter, .history-text::first-letter {
    font-size: 2rem;
    font-weight: bold;
    color: #4CAF50;
    float: left;
    margin-right: 10px;
    line-height: 1;
}

.intro-text::after, .history-text::after {
    content: '';
    display: table;
    clear: both;
}

.history-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.history-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px; /* Aumenta o espaço entre o texto e a imagem */
    margin-bottom: 40px; /* Adiciona margem inferior para separar as imagens */
}

.history-item img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.history-item p {
    max-width: 600px;
    margin: 0 auto; /* Centraliza o texto */
    flex: 1;
    text-align: left;
}

@media (min-width: 768px) {
    .history-item {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .history-item:nth-child(even) {
        flex-direction: row-reverse;
    }

    .intro-text, .history-text {
        padding: 0;
    }

    button {
        font-size: 18px;
    }
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

footer {
    background-color: #007bff;
    text-align: center;
    padding: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 0;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

img {
    width: 100%;
    max-width: 1280px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}