body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #1C1C1C;
    color: #ffffff;
    padding: 20px 0;
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding-top: 140px; 
    padding-bottom: 20px;
}

section {
    margin-bottom: 10px;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    max-width: 960px; 
    margin: 60px auto;
}